@model IEnumerable<EcommerceMVC.Models.CategoryModel>

@{
    Layout = null;
}

<h2>Category</h2>
<div class="panel-group category-products" id="accordian">
    @foreach (var category in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a asp-controller="Category" asp-action="Index" asp-route-Slug="@category.Slug">@category.Name</a></h4>
            </div>
        </div>
    }
</div><!--/category-products-->
