@model EcommerceMVC.Data.Models.User

@{
    ViewData["Title"] = "User";
}

<h1>Your account</h1>

<div class="container">
    <span><a asp-controller="SavedAddress" asp-action="Index">Saved address</a></span>
</div>
