        @model IEnumerable<EcommerceMVC.Data.Models.Brand>

@{
    Layout = null;
}

<div class="brands_products">
    <!--brands_products-->
    <h2>Brands</h2>
    @foreach (var brand in Model)
    {
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                <li><a asp-controller="Brand" asp-action="Index" asp-route-Slug="@brand.Slug"> <span class="pull-right">(50)</span>@brand.Name</a></li>
            </ul>
        </div>
    }
</div><!--/brands_products-->